.donation {
    padding: 81px 0 97px 0;
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__img {
        margin-top: 5px;
        margin-right: 30px;
    }
    &__heading {
        font-family: Georgia;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    &__subheading {
        margin-top: 20px;
        font-family: Georgia;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    &__credit-card {
        width: 349px;
        height: 43px;
        margin-top: 20px;
        background: #F1CDB3;
        border-radius: 9px;
        cursor: url(../../../assets/pets/hover.svg), auto;
        &:hover {
            background: #FDDCC4;
        }
        a {
            color: #545454;
            text-decoration: none;
        }
    }
    &__credit-card_content {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-right: 5px;
        cursor: url(../../../assets/pets/hover.svg), auto;
        img {
            cursor: url(../../../assets/pets/hover.svg), auto;
            padding-left: 6px;
        }
    }
    &__phone {
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        a {
            cursor: url(../../../assets/pets/hover.svg), auto;
        }
    }
    &__description {
        width: 380px;
        margin-top: 20px;
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
    }
}