@font-face {
    font-family: 'Georgia';
    src: url('../../../assets/main/fonst/Georgia.eot');
    src: url('Georgia.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/main/fonst/Georgia.woff') format('woff'),
    url('../../../assets/main/fonst/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../../assets/main/fonst/ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/main/fonst/ArialMT.woff') format('woff'),
    url('../../../assets/main/fonst/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}