.help {
    padding: 80px 0 100px 0;
    &__heading {
        font-family: Georgia;
        font-weight: normal;
        text-align: center;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }
    &__list {
        max-width: 1026px;
        margin: auto;
    }
    &__items {
        flex-wrap: wrap;
        display: flex;
        margin-top: 3px;
    }
    &__item {
        margin-top: 55px;
        margin-right: 119px;
        list-style: none;
        text-align: center;
        &:nth-child(5), &:nth-child(9) {
            margin-right: 0;
        }
        &:nth-child(6) {
            margin-left: 85px;
        }
    }
    &__descr {
        margin-top: 30px;
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
    }
}