.pets {
    padding: 75px 0 100px 0;
    background: #F6F6F6;

    &__heading {
        height: 90px;
        margin: 0 auto;
        text-align: center;
        font-family: Georgia;
        font-weight: normal;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__arrow-left {
        width: 52px;
        height: 52px;
        margin-top: 190px;
        border: 2px solid #F1CDB3;
        background: transparent;
        box-sizing: border-box;
        border-radius: 100px;

        &:hover {
            cursor: url(../../../assets//images/cursor-hover.svg), auto;
            background: #FDDCC4;
        }

        img {
            cursor: url(../../../assets//images/cursor-hover.svg), auto;
        }
    }

    &__inner {
        width: 1095px;
        height: 435px;
        display: flex;
        justify-content: space-between;
        padding-left: 53px;
        padding-right: 53px;
        overflow: hidden;
        position: relative;
    }

    &__card {
        width: 270px;
        height: 435px;
        background: #FAFAFA;
        border-radius: 9px;
        text-align: center;
        margin-right: 90px;

        &:nth-last-child(1) {
            margin-right: 0;
        }

        &:hover {
            cursor: url(../../../assets/images/cursor-hover.svg), auto;
            background: #FFFFFF;
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        }

        img {
            &:hover {
                cursor: url(../../../assets/images/cursor-hover.svg), auto;
            }
        }
    }

    &__card-title {
        margin-top: 25px;
        font-family: Georgia;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        cursor: url(../../../assets/images/cursor-hover.svg), pointer;
    }

    &__btn {
        width: 187px;
        height: 52px;
        margin-top: 30px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        font-family: Georgia;
        font-weight: normal;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        background-color: transparent;
        color: #292929;
        cursor: url(../../../assets//images/cursor-hover.svg), auto;
    }

    &__arrow-right {
        width: 52px;
        height: 52px;
        margin-top: 190px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            cursor: url(../../../assets//images/cursor-hover.svg), auto;
            background: #FDDCC4;
        }

        img {
            cursor: url(../../../assets//images/cursor-hover.svg), auto;
        }
    }

    &__btn-main {
        width: 261px;
        height: 52px;
        display: block;
        margin: auto;
        margin-top: 60px;
        background: #F1CDB3;
        border-radius: 100px;
        border: none;
        font-family: Georgia;
        font-weight: normal;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        a {
            color: #000000;
            text-decoration: none;
            cursor: url(../../../assets//images/cursor-hover.svg), auto;
        }

        &:hover {
            background: #FDDCC4;
            cursor: url(../../../assets//images/cursor-hover.svg), auto;
        }
    }

    &__ribbon {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 53px;
        transition: .5s all;
        &-left {
         transform: translateX(-100%);   
        }
        &-right {
            transform: translateX(100%);   
        }
    }
}