@import 'fonts';
@import 'header';
@import 'main';
@import 'about';
@import 'pets';
@import 'help';
@import 'donation';
@import 'footer';
@import 'modal';

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(../../../assets//images/cursor-normal.svg), auto;
}

[hidden] {
    display: none !important;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.burger__logo {
    display: none;
}

@import 'media';