/*DIV - Keyboard*/

body {
    background: #f2f2f2;
    outline: none;
}

.keyboard {
    position: fixed;
    transform: translate(-50%);
    left: 50%;
}

.key {
    display: flex;
    justify-content: center;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    -webkit-user-select: none;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background: rgba(40, 40, 40, 1);
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, .3);
    border: 1px solid rgba(0, 0, 0, .4);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    margin-top: -2px;
    font-family: Arial;
}

.key:hover {
    background: #0099CC;
    cursor: pointer;
    transition: 0s ease-in-out 0s;
    box-shadow: 0px 0px 10px #0099cc;
}

#voice:hover {
    background: #d5144c;
    box-shadow: 0px 0px 10px #d5144c;
}
#voice:active {
    background: #ff2967;
    box-shadow: 0px 0px 10px #ff2967;
}
.voice-active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #ff2967;
    top: 1px;
    transition: 0s ease-in-out 0s;
}

.audio-active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #00b2ed;
    top: 1px;
    transition: 0s ease-in-out 0s;
}

.key:active::after {
    bottom: 3px;
    box-shadow: inset 0px -1px 1px rgba(255, 255, 255, .5), 0px 10px 8px rgba(0, 0, 0, .3), 0px 1px 4px rgba(255, 255, 255, .5);
}

.key:active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #00b2ed;
    top: 1px;
    transition: 0s ease-in-out 0s;

}
.key-active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #00b2ed;
    top: 1px;
    transition: 0s ease-in-out 0s;
}

.key::after {
    content: "";
    position: absolute;
    border-radius: 4px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 4px;
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow: inset 0px -1px 1px rgba(255, 255, 255, .5), 0px 10px 8px rgba(0, 0, 0, .3);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
}

.key::before {
    content: "";
    position: absolute;
    border-radius: 4px;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
}

.keyboard {
    width: 640px;
    height: 200px;
    z-index: 100;
    top: 400px;
}

.smallfont {
    font-size: 14px;
}

.caps-active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #00b2ed;
    top: 1px;
    transition: 0s ease-in-out 0s;
}

.shiftl-active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #00b2ed;
    top: 1px;
    transition: 0s ease-in-out 0s;
}

.shiftr-active {
    line-height: 35px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #00b2ed;
    top: 1px;
    transition: 0s ease-in-out 0s;
}

#delete {
    width: 92px;
}

#tab {
    width: 92px;
}

#caps {
    width: 87px;
}

#enter {
    width: 87px;
}

#shiftl {
    width: 108px;
}
#shiftr {
    width: 108px;
}

#language {
    width: 50px;
}

#audio {
    width: 50px;
}

#voice {
    width: 50px;
}

#win {
    width: 50px;
}

#alt {
    width: 60px;
}

#space {
    width: 190px;
}

#arrow {
    height: 40px;
    width: 126px;
    float: left;
}

#updown {
    height: 40px;
    width: 42px;
    float: left;
}

#horizontal {
    height: 20px;
    margin-top: 18px;
    line-height: 16px;
}

#vertical {
    height: 20px;
    bottom: 0px;
    line-height: 16px;
}

.output {
    position: relative;
    z-index: 100;
    display: block;
    margin: auto;
    width: 630px;
    height: 170px;
    top: 60px;
    resize: none;
    letter-spacing: 2px;
}

.hide_me {
    transition: 1s all;
    top: 110%;
}

.show_me {
    transition: 1s all;
    top: 400px;
}

@media (max-width: 501px) {
    .output, .keyboard {
        width: 480px;
    }
    .key {
        width: 28px;
    }
    #delete, #tab {
        width: 80px;
    }
    #caps, #enter {
        width: 70px;
    }
    #shiftl, #shiftr {
        width: 85px;
    }
    #language, #audio, #voice, #alt, #Hidden {
        width: 40px;
    }
    #space {
        width: 125px;
    }
    #arrow {
        width: 100px;
    }
    #arrow #updown {
        width: 30px;
    }
}