@media (max-width: 1279px) {
    .container {
        max-width: 708px;
    }

    .friends {
        padding: 197px 0 76px 0;

        &__cards {
            height: 1365px;
            overflow: hidden;
            justify-content: center;
        }

        &__card {
            margin-right: 40px;

            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }

    .footer {
        padding-top: 30px;

        &__address {
            flex-direction: column;
            max-width: 708px;
        }

        &__info {
            display: flex;
            justify-content: space-around;
        }

        &__img {
            margin-top: 65px;
            text-align: center;
        }

        &__contact,
        &__location {
            margin-top: 0;
        }
    }

    .modal {
        &__window {
            width: 630px;
            height: 350px;
        }

        &__content {
            padding-top: 10px;
        }

        &__img {
            width: 350px;
        }

        &__text {
            margin-top: 20px;
            width: 260px;
            font-size: 13px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 300px;
    }

    .humburger {
        display: block;
        width: 30px;
        height: 22px;
        margin-top: 19px;
        transition: .3s all;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #000000;
            margin-top: 10px;

            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    .header {
        .burger__logo {
            display: block;
            position: absolute;
            top: 15px;
            left: 10px;
        }

        .burger {
            display: block;
            position: absolute;
            top: 40px;
            right: 50px;
            width: 30px;
            height: 22px;
            transition: .3s;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #ffffff;
                margin-top: 10px;
                transition: .3s;

                &:nth-child(1) {
                    margin-top: 0;
                }
            }

            &__title {
                font-family: Georgia;
                font-weight: normal;
                font-size: 32px;
                line-height: 110%;
                text-decoration: none;
                color: #fff;
                letter-spacing: 0.06em;
            }

            &__subtitle {
                margin-left: 4px;
                margin-top: 10px;
                font-family: Arial;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                letter-spacing: 0.1em;
                color: #ffffff;
            }
        }

        .burger__active {
            transform: rotate(90deg);
        }


        .humburger__active {
            transform: rotate(90deg);
        }

        &__menu {
            width: 260px;
        }

        &__menu-list {
            display: none;
        }

        &__logo {
            transition: .3s all;
        }

        &__menu {
            justify-content: space-between;
            display: flex;
        }

        &__menu-list {
            transition: .3s;
            flex-direction: column;
            position: fixed;
            display: flex;
            top: 0;
            right: -100%;
            background: #292929;
            height: 100vh;
            width: 320px;
            align-items: center;
            justify-content: center;
            margin-top: 0;
        }

        &__menu-list__active {
            flex-direction: column;
            position: fixed;
            display: flex;
            top: 0;
            right: 0;
            background: #292929;
            height: 100vh;
            width: 320px;
            align-items: center;
            justify-content: center;
            margin-top: 0;
        }

        &__item-list {
            font-size: 35px;
            margin-top: 15px;

            &:nth-child(4) {
                a {
                    color: burlywood;
                }
            }
        }

        &__item-link {
            color: burlywood;
        }
    }

    .friends {
        &__title {
            font-size: 25px;
        }

        &__cards {
            margin-top: 42px;
            max-height: 1649px;
        }

        &__card {
            &:nth-child(odd) {
                margin-right: 0;
            }
        }

    }

    .footer {
        padding-top: 30px;

        &__info {
            flex-direction: column;
        }

        &__contact {
            margin-top: 0;
        }

        &__title {
            font-size: 25px;
            text-align: center;
            letter-spacing: 0.06em;
        }

        &__mail,
        &__phone {
            max-width: 251px;
            margin: 40px auto;
            padding-right: 0;
        }

        &__location {
            margin-top: 40px;
        }

        &__second-title {
            font-size: 25px;
            text-align: center;
            letter-spacing: 0.06em;
        }

        &__boston {
            margin-top: 40px;
            justify-content: space-around;
        }

        &__london {
            margin-top: 40px;
        }

        &__img {
            margin-top: 40px;

            img {
                width: 260px;
                height: 269px;
            }
        }
    }

    .modal {
        &__close-btn {
            top: -53px;
            right: -30px;
        }

        &__window {
            width: 240px;
            height: 341px;
        }

        &__wrapper {
            margin: auto;
        }

        &__img {
            display: none;
        }

        &__content {
            width: 100%;
            padding-left: 0;
        }

        &__title {
            text-align: center;
        }

        &__subtitle {
            text-align: center;
        }

        &__text {
            margin: auto;
            margin-top: 20px;
            width: 220px;
        }

        &__list {
            margin-top: 24px;
            margin-left: 25px;
        }
    }

    #disabled {
        &:hover {
            color: burlywood !important;
        }
    }
}