@import 'header';
@import 'friends';
@import 'footer';
@import 'modal';


* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(../../../assets/images/cursor-normal.svg), auto;
}
.container {
    width: 1200px;
    margin: auto;
}

[hidden] {
    display: none !important;
}

@import 'media';