@import 'header';
@import 'friends';
@import 'footer';


* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(../../../assets/pets/icon.svg), auto;
}
.container {
    width: 1200px;
    margin: auto;
}