* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Ubuntu', Arial, sans-serif;
  outline: none;
}

body {
  background-image: url('../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: gold;
  font-weight: bold;
  overflow: hidden;
}

header {
  max-width: 430px;
  min-height: 75px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: flex-end;
}

.audio {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

header[hidden] {
  visibility: hidden;
}

:not(header)[hidden] {
  display: none !important;
}

.pause {
  width: 105px;
  background: none;
  border: none;
  font-size: 100%;
  cursor: pointer;
  outline: none;
  color: gold;
  font-weight: bold;
}

.paused > :first-child {
  display: none;
}

.pause:not(.paused) > :last-child {
  display: none;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  max-width: 400px;
  height: 400px;
  background-color: #270505;
  margin: auto;
  padding: 6px;
  border-radius: 4px;
}

.chip {
  width: var(--chipSize);
  height: var(--chipSize);
  position: absolute;
  z-index: 1;
  background-image: url('../assets/bgImg/cat.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  color: white;
  border-radius: 5px;
  border: 2px outset;
  border-color: dimgrey;
  cursor: pointer;
  transition: all .3s ease;
  user-select: none
}
.chip:hover {
  background-color: lightcoral;
}

.empty {
  position: absolute;
  background-color: inherit;
  width: var(--chipSize);
  height: var(--chipSize);
}

.main-menu {
  background:rgba(0000, 0000, 0000, .8);
  position: relative;
  z-index: 55;
  width: 400px;
  height: 400px;
  top: -5px;
  left: -5px;
  margin: auto;
}

.title {
  color: burlywood;
  text-align: center;
  font-size: 24px;
  letter-spacing: 5px;
}

.proceed, .start, .save, .score, .setting, .back {
  margin-top: 35px;
  align-items: center;
  color: burlywood;
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
}

/*==setting-menu==*/
.change-field {
  text-align: center;
}

.select-box {
  width: 50%;
  text-align: center;
  margin: 30px auto;
}

.setting-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 100px;
  transform: translate(-50%);
  background-color: crimson;
  cursor: pointer;
  border: none;
}

.setting-btn:hover {
  background-color: rgb(243, 24, 68);
}

.setting-menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.move {
  transition: none;
}

.hide {
  display: none;
}

@media (max-width: 500px) {
  header {
    width: 300px;
  }
  .board {
    width: 300px;
    height: 300px;
  }
  .main-menu {
    width: inherit;
    height: inherit;
  }
  .main-menu .title {
    font-size: 20px;
  }
  .proceed, .start, .save, .score, .setting, .back {
    margin-top: 25px;
    font-size: 16px;
  }
}