@import './header';
@import './switchers';
@import './humburger';
@import './menu';
@import './cards/category-cards';
@import './cards/word-cards';
@import './footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;
}

body {
  background-image: url('../assets/images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main {
  margin-top: 100px;
}

.hide {
  visibility: hidden;
}