@import './header';
@import './humburger';
@import './menu';
@import './cards';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nerko One', cursive;
}

body {
  background-image: url('../assets/images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main {
  margin-top: 100px;
}